body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.leftMenuStyle {
    font-weight: 700;
    width: 150px;
    height: 70%;
    border-right: none;
}

.mdl-layout__header-row {
    background-color: #1d2938;
    font-weight: 700;
    color: white;
}

.mdl-navigation {
    color: white;
}

.mdl-layout__header-row .mdl-navigation__link {
    color: white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.mdl-layout__header-row .mdl-navigation__link:hover {
    color: gold;
    transition: all .7s linear;
    text-decoration: none;
}

.landing-grid {
    background-size: cover;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 2vw;
}

/* Resume Page css */
.resume-right-col {
    background: #1d2938;
    color: white;
    padding: 2em;
}

/* contact page css */
.contact-body {
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
    position: relative;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;
    margin-left: 10px;
}

.contact-grid h2 {
    font-family: 'Anton', sans-serif;
}

.contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-list i {
    font-size: 30px;
    padding-right: 2rem;
}

.contact-list a {
    color: rgba(0,0,0, 0.87);
}

.avatar-img {
    height: 250px;
    padding-top: 2em;
}

.banner-text {
    opacity: .8;
    width: 70%;
    margin: auto;
}

.banner-text h2 {
    font-size: 66px;
    font-weight: bold;
    color: black;
    padding-top: 2em;
    line-height: 70px;
}

@media screen and (max-width: 409px) {
    .banner-text h2 {
        font-size: 35px;
        font-weight: bold;
        color: black;
        padding-top: 2em;
        line-height: 35px;
    }
}

.banner-text p {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0.3em;
    letter-spacing: 1px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    border-radius: 100px;
    color: black;
    font-size: 3em;
    padding: 8px;
}

@media screen and (max-width: 409px) {
    .social-links i {
        font-size: 25px;
        color: black;
        line-height: 25px;
    }
}

.social-links i:hover {
    box-shadow: 0 0 12px 11px gold;
    transition: all .7s linear;
}

/*Title_Icon*/
.material-icons {
    color: white;
    outline: none;
}

.material-icons:hover {
    color: gold;
    transition: all .7s linear;
    outline: none;
}

@media screen and (max-width: 1024px) {
    .material-icons {
        margin: 4px;
        color: gold;
        outline: none;
    }
}


/*About Me*/
.about-text p {
    color: black;
    font-size: 20px;
    padding: 0.3em;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.about-text ul {
    list-style-type: none;
    margin: 0;
    color: black;
    font-size: 16px;
    padding-left: 1em;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

#certificate {
    color: black;
    font-weight: bold;
    font-size: 26px;
}

#certificate:hover {
    background-color: black;
    color: gold;
    transition: all .7s linear;
}

.hrefColor:hover {
    color: gold;
    transition: all .7s linear;
}


.mdl-layout__drawer {
    width: 150px;
    height: 150px;
}

/*images carousel*/
.carousel {
    margin-top: 3em;
}

.d-block {
    height: 400px;
}

/*Download button*/

.button {
    margin: 1em 2em 0 3em;
    border: none;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: black;
    background-color: #bdbdbd;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 29px;
    text-decoration: none;
}

@media screen and (max-width: 1125px) and (min-width: 300px) {
     .button  {
        border: none;
        margin: 1em 1em 0 4em;
        border-radius: 8px;
        display: inline-block;
        cursor: pointer;
        color: black;
        font-size: 15px;
        font-weight: bold;
        padding: 9px 25px;
        text-decoration: none;
    }
}


.button:hover {
    box-shadow: 0 0 12px 11px gold;
    transition: all .7s linear;
    /*background-color: gold;*/
}

.button:active {
    outline: none;
}

.button:focus {
    outline: none;
}


.fa {
    padding-right: 5px;
}


Link:hover {
    font-size: 50px;
}

@media screen and (min-width: 800px) {
    .mdl-layout__drawer-button {
        line-height: 54px;
    }
}

.mdl-grid {
    margin-top: 2em;
}

